.listing {
  display: flex;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 0.94rem 2.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.94rem 2.5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #777;
  width: 450px;
  margin-right: 30px;
}

.picture {
  position: relative;
  height: 9rem;
  width: 9rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
}

.pictureOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(26, 54, 93, 0.5)),
    to(rgba(68, 92, 126, 0.1))
  );
  background-image: var(--linear-grad);
  opacity: 0.7;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 10%;
  max-width: 310px;
  margin: 0 1rem 0 0.5rem;
}

.about {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: var(--color-primary);
}

.aboutDetails > span:not(:last-child) {
  margin-right: 1rem;
}

.details > *:not(:last-child) {
  margin-bottom: 2%;
}

.delBtn {
  position: absolute;
  padding: 0.5rem;
  background-color: white;
  right: 0;
  background-color: var(--color-primary);
  transition: background-color 0.2s;
}

.delBtn:hover {
  background-color: var(--color-primary-light);
}

.delBtnIcon {
  color: white !important;
  fill: white !important;
  transition: color 0.2s, fill 0.2s !important;
}

.delBtn:hover > .delBtnIcon {
  color: rgb(255, 44, 44) !important;
  fill: rgb(255, 44, 44) !important;
}
